.idea
!.gitignore

/auto_login/
/auto_login/*

!/auto_login/bash/config/config.sh
!/auto_login/bash/servers/127.0.0.1.sh
!/auto_login/bash/intranet.sh
!/auto_login/bash/jump.sh
!/auto_login/bash/login.sh

!/auto_login/expect/config/config.expect
!/auto_login/expect/servers/127.0.0.1.expect
!/auto_login/expect/intranet.expect
!/auto_login/expect/jump.expect
!/auto_login/expect/login.expect

!/auto_login/sshpass/config/config.sh
!/auto_login/sshpass/config/conf.d/config.sh.example
!/auto_login/sshpass/config/conf.d/servers.sh.example
!/auto_login/sshpass/config/servers/127.0.0.1.sh
!/auto_login/sshpass/intranet.sh
!/auto_login/sshpass/jump.sh
!/auto_login/sshpass/login.sh
