.idea
!.gitignore

/AutoLogin/
/AutoLogin/*

!/AutoLogin/bash/config/config.sh
!/AutoLogin/bash/servers/127.0.0.1.sh
!/AutoLogin/bash/intranet.sh
!/AutoLogin/bash/jump.sh
!/AutoLogin/bash/login.sh

!/AutoLogin/expect/config/config.expect
!/AutoLogin/expect/servers/127.0.0.1.expect
!/AutoLogin/expect/intranet.expect
!/AutoLogin/expect/jump.expect
!/AutoLogin/expect/login.expect

!/AutoLogin/sshpass/config/config.sh
!/AutoLogin/sshpass/config/conf.d/config.sh.example
!/AutoLogin/sshpass/config/conf.d/servers.sh.example
!/AutoLogin/sshpass/config/servers/127.0.0.1.sh
!/AutoLogin/sshpass/intranet.sh
!/AutoLogin/sshpass/jump.sh
!/AutoLogin/sshpass/login.sh
