.idea
.vscode
!.gitignore

/login/

!/login/bash/config/config.sh
!/login/bash/servers/127.0.0.1.sh
!/login/bash/intranet.sh
!/login/bash/jump.sh
!/login/bash/login.sh

!/login/expect/config/config.expect
!/login/expect/servers/127.0.0.1.expect
!/login/expect/intranet.expect
!/login/expect/jump.expect
!/login/expect/login.expect

!/login/sshpass/config/config.sh
!/login/sshpass/config/conf.d/config.sh.example
!/login/sshpass/config/conf.d/servers.sh.example
!/login/sshpass/config/servers/127.0.0.1.sh
!/login/sshpass/intranet.sh
!/login/sshpass/jump.sh
!/login/sshpass/login.sh
