#!/bin/bash

# shellcheck disable=SC2034

# 跳板机
JUMP_SERVER_USER='user'
JUMP_SERVER='ip'
JUMP_BIND_HOST="127.0.0.1"
JUMP_SERVER_PORT='port'
JUMP_SERVER_PASSWORD=$(path/to/script_password_decoder "U2FsdGVkX1+CyfZlxqHuFHTnhlRQw/QPlwaWaf63E3A=")
JUMP_KNOW_HOST='[ip]:port'

# 内网服务器
INTRANET_PROXY_HOST="127.0.0.1"
INTRANET_SERVER_USER='user'
INTRANET_SERVER='ip'
INTRANET_SERVER_PORT='port'
INTRANET_SERVER_PASSWORD=$(path/to/script_password_decoder "U2FsdGVkX1+CyfZlxqHuFHTnhlRQw/QPlwaWaf63E3A=")

# XDebug
DBGP_PROXY_SERVER_USER="user"
DBGP_PROXY_SERVER="ip"
DBGP_PROXY_SERVER_PORT="port"
DBGP_PROXY_SERVER_PASSWORD=$(path/to/script_password_decoder "U2FsdGVkX1+CyfZlxqHuFHTnhlRQw/QPlwaWaf63E3A=")
DBGP_CLIENT_PORT='9001'
DBGP_SERVER_PORT='9003'
INTRANET_PROXY_HOST="127.0.0.1"
IDE_LISTEN_PORT='9000'

# 端口映射
JUMP_PROXY_PORT='4790'
INTRANET_PROXY_PORT='4791'

# 端口映射
JUMP_PROXY_PORT='1234'
INTRANET_PROXY_PORT='1234'

# 建立隧道后的后置动作
function postRun() {
    echo "建立内网服务器隧道成功，开始执行后置脚本"
}